<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eleak.app" version="13.18.0.1"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>E-Leak</name>
  <description>Educational learning platform</description>
  <author email="support@e-leak.in" href="https://e-leak.vercel.app">E-Leak Studio</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="https://e-leak-strm.web.app/*" />
  <allow-navigation href="https://e-leak-in.vercel.app/*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="default" />
  <preference name="SplashScreenDelay" value="2000" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="FadeSplashScreenDuration" value="300" />
  <preference name="SplashScreen" value="screen" />
  <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  <preference name="ScrollEnabled" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="22" />
  <preference name="android-targetSdkVersion" value="34" />
  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-splashscreen" />
  <plugin name="cordova-plugin-inappbrowser" />
  <plugin name="cordova-plugin-statusbar" />
</widget>
